*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --background-color: white;
  }
  header{
    text-align: center;
    padding: 40px 20px;
    color:white ;
    background-color: #0075ff;
  }
  header h1{
    font-size: 3em;
  }
  header p{
    font-size: 1.4em;
  }
  main{
    padding: 40px 20px;
    min-height: 79vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color:cornsilk;
  }
  button{
    padding: 10px 15px;
    outline: none;
    border: none;
    color: #ffffff;
    background-color: #0075ff;
    border-radius: 8px;
  }
  .controls{
    /* background-color: red; */
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }
  .container {
    display: grid;
    border: 8px double #0075ff;
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  
  .grid-item {
    transition: all .7s ease;
    text-align: center;
    background-color: var(--background-color);
    
  }
  .plusblack{
    background-color: black;
  }
  @media screen and (max-width:500px) {
    main{
      flex-direction: column;
    }
    .controls{
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
    .container{
      width: 100%;
    }
    .form-group{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
    }
  }